<form class="splunk-formatter-section" section-label="General">
    <splunk-control-group label="Point Markers">
        <splunk-radio-input name="{{VIZ_NAMESPACE}}.pointMarkers" value="off">
            <option value="on">On</option>
            <option value="off">Off</option>
        </splunk-radio-input>
    </splunk-control-group>
    <splunk-control-group label="Legend Placement">
        <splunk-select name="{{VIZ_NAMESPACE}}.legendPlacement" value="right">
            <option value="right">Right</option>
            <option value="bottom">Bottom</option>
            <option value="none">None</option>
        </splunk-select>
    </splunk-control-group>
    <splunk-control-group label="X Label Rotation">
        <splunk-radio-input name="{{VIZ_NAMESPACE}}.xLabelRotation" value="off">
            <option value="on">On</option>
            <option value="off">Off</option>
        </splunk-radio-input>
    </splunk-control-group>
</form>
<form class="splunk-formatter-section" section-label="Formatting">
    <p>
        All formatting rules are specified as shown
        <a href="http://momentjs.com/docs/#/displaying/format/" target="_blank">here.</a>
    </p>
    <splunk-control-group label="Axis Label Format">
        <splunk-text-input name="{{VIZ_NAMESPACE}}.axisLabelFormat" value="" />
    </splunk-control-group>
    <splunk-control-group label="Legend Format">
        <splunk-text-input name="{{VIZ_NAMESPACE}}.legendFormat" value="" />
    </splunk-control-group>
    <splunk-control-group label="Tooltip Format">
        <splunk-text-input name="{{VIZ_NAMESPACE}}.tooltipFormat" value="" />
    </splunk-control-group>
</form>