#custom-timewrap-visualization-tooltip {
    pointer-events: none;
    position: absolute;
    display: none;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    padding: 5px 7px;
    white-space: nowrap;
}
.custom-timewrap-visualization .plottable-colors-0 {
  background-color: #5279c7; /* INDIGO */
}

.custom-timewrap-visualization .plottable-colors-1 {
  background-color: #fd373e; /* CORAL_RED */
}

.custom-timewrap-visualization .plottable-colors-2 {
  background-color: #63c261; /* FERN */
}

.custom-timewrap-visualization .plottable-colors-3 {
  background-color: #fad419; /* BRIGHT_SUN */
}

.custom-timewrap-visualization .plottable-colors-4 {
  background-color: #2c2b6f; /* JACARTA */
}

.custom-timewrap-visualization .plottable-colors-5 {
  background-color: #ff7939; /* BURNING_ORANGE */
}

.custom-timewrap-visualization .plottable-colors-6 {
  background-color: #db2e65; /* CERISE_RED */
}

.custom-timewrap-visualization .plottable-colors-7 {
  background-color: #99ce50; /* CONIFER */
}

.custom-timewrap-visualization .plottable-colors-8 {
  background-color: #962565; /* ROYAL_HEATH */
}

.custom-timewrap-visualization .plottable-colors-9 {
  background-color: #06cccc; /* ROBINS_EGG_BLUE */
}

/**
 * User-supplied renderTo element.
 */

.custom-timewrap-visualization .plottable {
  display: block; /* must be block elements for width/height calculations to work in Firefox. */
  pointer-events: visibleFill;
  position: relative;
  /**
   * Pre 3.0, users could set the dimension of the root element in two ways: either using CSS
   * (inline or through a stylesheet), or using the SVG width/height attributes. By default, we
   * set the SVG width/height attributes to 100%.
   *
   * Post 3.0 the root element is always a normal div and the only way to set the dimensions is
   * to use CSS. To replicate the "100%-by-default" behavior, we apply width/height 100%.
   */
  width: 100%;
  height: 100%;
}

/**
 * The _element that roots each Component's DOM.
 */

.custom-timewrap-visualization .plottable .component {
  /* Allow components to be positioned with explicit left/top/width/height styles */
  position: absolute;
}

.custom-timewrap-visualization .plottable .background-container,
.custom-timewrap-visualization .plottable .content,
.custom-timewrap-visualization .plottable .foreground-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

/**
 * Don't allow svg elements above the content to steal events
 */

.custom-timewrap-visualization .plottable .foreground-container {
  pointer-events: none;
}

.custom-timewrap-visualization .plottable .component-overflow-hidden {
  overflow: hidden;
}

.custom-timewrap-visualization .plottable .component-overflow-visible {
  overflow: visible;
}

.custom-timewrap-visualization .plottable .plot-canvas-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.custom-timewrap-visualization .plottable .plot-canvas {
  width: 100%;
  height: 100%;
  /**
   * Play well with deferred rendering.
   */
  transform-origin: 0px 0px 0px;
}

.custom-timewrap-visualization .plottable .label text {
  font-family: "Helvetica Neue", sans-serif;
  fill: #32313F;
}

.custom-timewrap-visualization .plottable .bar-label-text-area text {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 12px;
}

.custom-timewrap-visualization .plottable .label-area text {
  fill: #32313F;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14px;
}

.custom-timewrap-visualization .plottable .light-label text {
  fill: white;
}

.custom-timewrap-visualization .plottable .dark-label text {
  fill: #32313F;
}

.custom-timewrap-visualization .plottable .off-bar-label text {
  fill: #32313F;
}

.custom-timewrap-visualization .plottable .stacked-bar-label text {
  fill: #32313F;
  font-style: normal;
}

.custom-timewrap-visualization .plottable .stacked-bar-plot .off-bar-label {
  /* HACKHACK #2795: correct off-bar label logic to be implemented on StackedBar */
  visibility: hidden !important;
}

.custom-timewrap-visualization .plottable .axis-label text {
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: normal;
  text-transform: uppercase;
}

.custom-timewrap-visualization .plottable .title-label text {
  font-size: 20px;
  font-weight: bold;
}

.custom-timewrap-visualization .plottable .axis line.baseline {
  stroke: #CCC;
  stroke-width: 1px;
}

.custom-timewrap-visualization .plottable .axis line.tick-mark {
  stroke: #CCC;
  stroke-width: 1px;
}

.custom-timewrap-visualization .plottable .axis text {
  fill: #32313F;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 12px;
  font-weight: 200;
  line-height: normal;
}

.custom-timewrap-visualization .plottable .axis .annotation-circle {
  fill: white;
  stroke-width: 1px;
  stroke: #CCC;
}

.custom-timewrap-visualization .plottable .axis .annotation-line {
  stroke: #CCC;
  stroke-width: 1px;
}

.custom-timewrap-visualization .plottable .axis .annotation-rect {
  stroke: #CCC;
  stroke-width: 1px;
  fill: white;
}

.custom-timewrap-visualization .plottable .bar-plot .baseline {
  stroke: #999;
}

.custom-timewrap-visualization .plottable .gridlines line {
  stroke: #3C3C3C; /* hackhack: gridlines should be solid; see #820 */
  opacity: 0.25;
  stroke-width: 1px;
}

.custom-timewrap-visualization .plottable .selection-box-layer .selection-area {
  fill: black;
  fill-opacity: 0.03;
  stroke: #CCC;
}

/* DragBoxLayer */

.custom-timewrap-visualization .plottable .drag-box-layer.x-resizable .drag-edge-lr {
  cursor: ew-resize;
}

.custom-timewrap-visualization .plottable .drag-box-layer.y-resizable .drag-edge-tb {
  cursor: ns-resize;
}

.custom-timewrap-visualization .plottable .drag-box-layer.x-resizable.y-resizable .drag-corner-tl {
  cursor: nwse-resize;
}

.custom-timewrap-visualization .plottable .drag-box-layer.x-resizable.y-resizable .drag-corner-tr {
  cursor: nesw-resize;
}

.custom-timewrap-visualization .plottable .drag-box-layer.x-resizable.y-resizable .drag-corner-bl {
  cursor: nesw-resize;
}

.custom-timewrap-visualization .plottable .drag-box-layer.x-resizable.y-resizable .drag-corner-br {
  cursor: nwse-resize;
}

.custom-timewrap-visualization .plottable .drag-box-layer.movable .selection-area {
  cursor: move; /* IE fallback */
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: grab;
}

.custom-timewrap-visualization .plottable .drag-box-layer.movable .selection-area:active {
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* /DragBoxLayer */

.custom-timewrap-visualization .plottable .guide-line-layer line.guide-line {
  stroke: #CCC;
  stroke-width: 1px;
}

.custom-timewrap-visualization .plottable .drag-line-layer.enabled.vertical line.drag-edge {
  cursor: ew-resize;
}

.custom-timewrap-visualization .plottable .drag-line-layer.enabled.horizontal line.drag-edge {
  cursor: ns-resize;
}

.custom-timewrap-visualization .plottable .legend text {
  fill: #32313F;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: normal;
}

.custom-timewrap-visualization .plottable .interpolated-color-legend rect.swatch-bounding-box {
  fill: none;
  stroke: #CCC;
  stroke-width: 1px;
  pointer-events: none;
}

.custom-timewrap-visualization .plottable .waterfall-plot line.connector {
  stroke: #CCC;
  stroke-width: 1px;
}

.custom-timewrap-visualization .plottable .pie-plot .arc.outline {
  stroke-linejoin: round;
}

.custom-timewrap-visualization {
    width: auto !important;
    margin-right: 10px !important;
    font-family: "Helvetica Neue", Helvetica, sans-serif !important;
    position: relative;
}

.custom-timewrap-visualization .axis .tick-label, .custom-timewrap-visualization .axis .tick-label text {
    font-size: 11px !important;
    fill: #6b6b76 !important;
    color: #6b6b76 !important;
    font-weight: inherit !important;
}

.custom-timewrap-visualization .axis .tick-mark, .custom-timewrap-visualization .axis .baseline, .custom-timewrap-visualization .gridlines line {
    stroke-width: 1px !important;
    stroke: #e6e6e9 !important;
    opacity: 1 !important;
}

.custom-timewrap-visualization .legend text {
    font-weight: normal !important;
}

.custom-timewrap-visualization .component-group .foreground-container {
    z-index: 2;
}