<form class="splunk-formatter-section" section-label="General">
    <div class="control-group">
        <label class="control-label">Black and White Display</label>
        <div class="controls controls-fill">
            <splunk-radio-input name="{{VIZ_NAMESPACE}}.color_blind" value="false">
        <option value="false">No</option>
        <option value="true">Yes</option>
            </splunk-radio-input>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Graph Mode</label>
        <div class="controls controls-fill">
            <splunk-radio-input name="{{VIZ_NAMESPACE}}.graph_mode" value="dots">
                <option value="dots">Dots</option>
                <option value="lines">Connected Lines</option>
            </splunk-radio-input>
        </div>
    </div>
</form>
<form class="splunk-formatter-section" section-label="Target Format">
    <div class="control-group">
        <label class="control-label">Show Legend</label>
        <div class="controls controls-fill">
            <splunk-radio-input name="{{VIZ_NAMESPACE}}.show_legend" value="true">
        <option value="false">No</option>
        <option value="true">Yes</option>
            </splunk-radio-input>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Show Axis Lines</label>
        <div class="controls controls-fill">
            <splunk-radio-input name="{{VIZ_NAMESPACE}}.show_axis_lines" value="true">
        <option value="false">No</option>
        <option value="true">Yes</option>
            </splunk-radio-input>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Show Extra Data (min/max, optimal)</label>
        <div class="controls controls-fill">
            <splunk-radio-input name="{{VIZ_NAMESPACE}}.show_extra_points" value="true">
        <option value="false">No</option>
        <option value="true">Yes</option>
            </splunk-radio-input>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Interactive</label>
        <div class="controls controls-fill">
            <splunk-radio-input name="{{VIZ_NAMESPACE}}.target_interactive" value="true">
        <option value="false">No</option>
        <option value="true">Yes</option>
            </splunk-radio-input>
        </div>
    </div>

     <div class="control-group">
        <label class="control-label">Trellis Override Size</label>
        <div class="controls controls-fill">
             <splunk-text-input name="{{VIZ_NAMESPACE}}.trellis_override" value="0">
            </splunk-text-input>
        </div>
    </div>
</form>
<form class="splunk-formatter-section" section-label="Debug">
    <div class="control-group">
        <label class="control-label">JavaScript Logging</label>
        <div class="controls controls-fill">
            <splunk-radio-input name="{{VIZ_NAMESPACE}}.log" value="false">
        <option value="false">No</option>
        <option value="true">Yes</option>
            </splunk-radio-input>
        </div>
    </div>
</form>

