<form class="splunk-formatter-section" section-label="Radius">
	<div class="control-group">
     	    <label class="control-label">Radius</label>
    		<div class="controls controls-block">  
    		    <splunk-text-input name="display.visualizations.custom.cuviz_status_matrix.status_matrix.radius" value="24"></splunk-text-input>
	       </div>
	</div>
</form>