/*
 * CSS rules for visualization.
 * Class namespacing is good practice.
 */

/* Formatting for text element*/
.splunk-status-matrix .bubble-matrix text {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica;
  fill: #555555; }

.splunk-status-matrix .bubble-matrix .rects rect {
  fill: white;
  cursor: pointer; }

.splunk-status-matrix .bubble-matrix .bubbles .bubble-color-1 {
  fill: lightgrey;}

.splunk-status-matrix .bubble-matrix .bubbles .bubble-color-1.selected {
  stroke: grey;
  stroke-width: 2px;
  stroke-opacity: 0.8; }

.splunk-status-matrix .bubble-matrix .bubbles .bubble-color-2 {
  fill: #ff5050;
  opacity: 0.8; }

.splunk-status-matrix .bubble-matrix .bubbles .bubble-color-2.selected {
  stroke: red;
  stroke-width: 2px;
  stroke-opacity: 0.8; }


.splunk-status-matrix .bubble-matrix .bubbles .bubble-color-3 {
  fill: #99cc00;
  opacity: 0.8; }

.splunk-status-matrix .bubble-matrix .bubbles .bubble-color-3.selected {
  stroke: green;
  stroke-width: 2px;
  stroke-opacity: 0.8; }

.splunk-status-matrix .bubble-matrix .bubbles .bubble-color-4 {
  fill: palegoldenrod; }

.splunk-status-matrix .bubble-matrix .bubbles .bubble-color-5 {
  fill: gold; }

.splunk-status-matrix .bubble-matrix .bubbles .bubble-color-6 {
  fill: orange; }

.splunk-status-matrix .bubble-matrix .bubbles .bubble-color-7 {
  fill: tomato; }

.splunk-status-matrix .bubble-matrix .bubbles .bubble-color-8 {
  fill: salmon; }

.splunk-status-matrix .bubble-matrix .bubbles .bubble-color-9 {
  fill: orangered; }

.splunk-status-matrix .bubble-matrix .bubbles circle {
  cursor: pointer; }

.splunk-status-matrix .bubble-matrix .horizontal-lines {
  stroke: lightgrey; }

.splunk-status-matrix .bubble-matrix .vertical-lines {
  /* stroke: lightgrey; */
}

.splunk-status-matrix .bubble-matrix .top-columns, .bubble-matrix .bottom-columns {
  text-anchor: middle; }

.splunk-status-matrix .bubble-matrix .right-rows {
  text-anchor: end; }

.d3-tip {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica;
  background: rgba(0, 0, 0, 0.9);
  border-radius: 5px;
  color: #CCC;
  line-height: .8;
  padding: 10px; }

.d3-tip:after {
    color: rgba(0, 0, 0, 0.9);
    content: '\25BC';
    font-size: 12px;
    position: absolute;
    text-align: center;
    width: 100%; }

.d3-tip.n:after {
    left: 0;
    top: 100%; }
