<form class="splunk-formatter-section" section-label="Lines">
    <splunk-control-group label="Default color">
        <splunk-color-picker name="{{VIZ_NAMESPACE}}.staticColor" value="#FF0000">
    	</splunk-color-picker>
    </splunk-control-group>
    <splunk-control-group label="Weight">
    	<splunk-select name="{{VIZ_NAMESPACE}}.lineThickness" value="1">
    		<option value="1">1</option>
    		<option value="2">2</option>
    		<option value="3">3</option>Happy
    		<option value="4">4</option>
    		<option value="5">5</option>
    		<option value="6">6</option>
    		<option value="7">7</option>
    		<option value="8">8</option>
    	</splunk-select>
    </splunk-control-group>
</form>
<form class="splunk-formatter-section" section-label="Map">
    <splunk-control-group label="Tile set">
        <splunk-select name="{{VIZ_NAMESPACE}}.tileSet">
            <option value="splunk" selected>Splunk (offline)</option>
            <option value="light_tiles" selected>Carto light</option>
            <option value="dark_tiles">Carto dark</option>
            <option value="satellite_tiles">ArcGis satellite</option>
            <option value="openstreetmap_tiles">Open Street Map</option>
        </splunk-select>
    </splunk-control-group>
    <splunk-control-group label="Custom tile set">
        <splunk-text-input name="{{VIZ_NAMESPACE}}.customTileSet" value=""></splunk-text-input>
    </splunk-control-group>

    <splunk-control-group label="Latitude">
        <splunk-text-input name="{{VIZ_NAMESPACE}}.mapLatitude" value="35"></splunk-text-input>
    </splunk-control-group>
    <splunk-control-group label="Longitude">
        <splunk-text-input name="{{VIZ_NAMESPACE}}.mapLongitude" value="-95"></splunk-text-input>
    </splunk-control-group>
    <splunk-control-group label="Zoom">
        <splunk-select name="{{VIZ_NAMESPACE}}.mapZoom" value="5">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="8">9</option>
            <option value="8">10</option>
            <option value="8">11</option>
            <option value="8">12</option>
        </splunk-select>
    </splunk-control-group>
</form>
