<form class="splunk-formatter-section" section-label="Display">
    <div class="control-group">
	<label class="control-label">Globe Texture:</label>
	<div class="controls control-block">
	    <splunk-select name="display.visualizations.custom.webgl_globe.globe.globeColor" value="dark">
		<option class="wgl-dark" value="dark"><img src="/static/app/webgl_globe/world_dark_tn.jpg" />Dark</option>
		<option value="color">Color</option>
		<option value="clouds">Clouds</option>
		<option value="red">Red</option>
		<option value="orange">Orange</option>
		<option value="yellow">Yellow</option>
		<option value="green">Green</option>
		<option value="blue">Blue</option>
		<option value="violet">Violet</option>
	    </splunk-select>
	    <span class="help-block">Changes the globe style</span>
	</div>
    </div>
    <div class="control-group shared-controls-controlgroup">
        <label class="control-label">Background:</label>
        <div class="controls control-block">
            <splunk-radio-input name="display.visualizations.custom.webgl_globe.globe.globeBackground" value="true">
                <option value="false">Color</option>
                <option value="true">Starfield</option>
            </splunk-radio-input>
	    <span class="help-block">Solid color or starfield background</span>
        </div>
    </div>
    <div class="control-group shared-controls-controlgroup gl-backgroundcolor">
	<label class="control-label">Background Color:</label>
	<div class="controls control-block">
	    <splunk-color-picker name="display.visualizations.custom.webgl_globe.globe.backgroundColor"></splunk-color-picker>
	    <span class="help-block">Only valid for Background:color</span>
	</div>
    </div>
    <div class="control-group shared-controls-controlgroup">
	<label class="control-label">Zoom Level:</label>
	<div class="controls control-block">
	    <input type="text" name="display.visualizations.custom.webgl_globe.globe.globeZoom" placeholder="0" style="width:49%" />
	    <span class="help-block">Specify the zoom level (0-7)</span>
	</div>
    </div>
    <div class="control-group shared-controls-controlgroup">
        <label class="control-label">Controls:</label>
        <div class="controls control-block">
            <splunk-radio-input name="display.visualizations.custom.webgl_globe.globe.globeControls" value="true">
                <option value="true">Show</option>
                <option value="false">Hide</option>
            </splunk-radio-input>
            <span class="help-block">Show or hide the controls panel</span>
        </div>
    </div>
    <div class="control-group shared-controls-controlgroup">
        <label class="control-label">Legend:</label>
        <div class="controls control-block">
            <splunk-radio-input name="display.visualizations.custom.webgl_globe.globe.globeLegend" value="true">
                <option value="true">Show</option>
                <option value="false">Hide</option>
            </splunk-radio-input>
            <span class="help-block">Show or hide the legend panel</span>
        </div>
    </div>
</form>
<form class="splunk-formatter-section" section-label="Animation">
    <div class="control-group shared-controls-controlgroup">
	<label class="control-label">Animate:</label>
	<div class="controls control-block">
	    <splunk-radio-input name="display.visualizations.custom.webgl_globe.globe.globeAnimate" value="false">
		<option value="false">Static</option>
		<option value="true">Animated</option>
	    </splunk-radio-input>
	    <span class="help-block">Specify whether or not the globe should rotate</span>
	</div>
    </div>
    <div class="control-group shared-controls-controlgroup gl-globeanimatespeed">
	<label class="control-label">Rotation Period:</label>
	<div class="controls control-block controls-fill">
	    <input type="text" name="display.visualizations.custom.webgl_globe.globe.globeAnimateSpeed" placeholder="0" style="width:49%" />
	    <span class="help-block">Specify the period of rotation in seconds</span>
	</div>
    </div>
</form>
