/*
 * CSS rules for visualization.
 * Class namespacing is good practice.
 */
.globe-viz-container {
    background: #000000;
    background-size: cover;
}

.overlaybox {
    position: absolute;
    background-color: rgba( 0, 0, 0, 0.75);
    border: solid 1px #707070;
    border-radius: 10px;
    z-index: 999;
}

.legendbox {
    right: 15px;
    bottom: 15px;
    min-width: 150px;
    min-height: 50px;
}

.controlbox {
    top: 15px;
    left: 15px;
    min-width: 100px;
    min-height: 150px;
    border-color: #444444;
}

.glcontrol {
    width: 25px;
    height: 25px;
    background: rgba(0,0,0,0);
    border-style: solid;
    border-width: 1px;
    border-color: #DDDDDD #666666 #666666 #DDDDDD;
    border-radius: 5px;
    padding: 0;
    background-size: 75%;
    background-position: center;
    position: absolute;
    cursor: pointer;
    background-repeat: no-repeat;
}

.glcontrol:active {
    border-color: #666666 #DDDDDD #DDDDDD #666666;
}

.webgl-message {
    padding: 60px 20px;
}

.glup {
    background-image: url('up.png');
    top: 10px;
    left: 37.5px;
}

.gldown {
    background-image: url('down.png');
    top: 65px;
    left: 37.5px;
}

.glleft {
    background-image: url('left.png');
    top: 37.5px;
    left: 10px;
}

.glright {
    background-image: url('right.png');
    top: 37.5px;
    right: 10px;
}

.glplus {
    background-image: url('plus.png');
    bottom: 10px;
    right: 12.5px;
}

.glminus {
    background-image: url('minus.png');
    bottom: 10px;
    left: 12.5px;
}

.overlaybox h6 {
    margin: 10px 0px 5px 10px;
    color: #B0B0B0;
    font-size: 10px;
    text-transform: uppercase;
}

.legendbox ul {
    margin: 0 0 10px;
    padding: 0;
    list-style-type: none;
}

.legendbox li {
    font-size: 11px;
    color: #E6E6E6;
    vertical-align: middle;
}

.glseries {
    display: inline-block;
    vertical-align: middle;
    width: 9px;
    height: 9px;
    border: solid 1px #808080;
    border-radius: 2px;
    margin: 5px 8px 5px 10px;
}
