<form class="splunk-formatter-section" section-label="Basic">
    <div class="control-group shared-controls-controlgroup">
        <label class="control-label">Height</label>
        <div class="controls controls-fill">
            <input type="text" name="display.visualizations.custom.cuviz_water_gauge.water_gauge.height" value="220"/>
        </div>
    </div>
    <div class="control-group shared-controls-controlgroup">
        <label class="control-label">Width</label>
        <div class="controls controls-fill">
            <input type="text" name="display.visualizations.custom.cuviz_water_gauge.water_gauge.width" value="220"/>
        </div>
    </div>
    <div class="control-group shared-controls-controlgroup">
        <label class="control-label">Min Value</label>
        <div class="controls controls-fill">
            <input type="text" name="display.visualizations.custom.cuviz_water_gauge.water_gauge.minValue" value="0"/>
        </div>
    </div>
    <div class="control-group shared-controls-controlgroup">
        <label class="control-label">maxValue</label>
        <div class="controls controls-fill">
            <input type="text" name="display.visualizations.custom.cuviz_water_gauge.water_gauge.maxValue" value="100"/>
        </div>
    </div>
</form>
<form class="splunk-formatter-section" section-label="Circle">
    <div class="control-group shared-controls-controlgroup">
        <label class="control-label">Circle Thickness</label>
        <div class="controls controls-fill">
            <input type="text" name="display.visualizations.custom.cuviz_water_gauge.water_gauge.circleThickness" value="0.05"/>
        </div>
    </div>
    <div class="control-group shared-controls-controlgroup">
        <label class="control-label">Circle Fill Gap</label>
        <div class="controls controls-fill">
            <input type="text" name="display.visualizations.custom.cuviz_water_gauge.water_gauge.circleFillGap" value="0.05"/>
        </div>
    </div>
    <div class="control-group shared-controls-controlgroup">
        <label class="control-label">Circle Color</label>
        <div class="controls controls-fill">
            <splunk-color-picker name="display.visualizations.custom.cuviz_water_gauge.water_gauge.circleColor" value="#178BCA">
            </splunk-color-picker>
        </div>
    </div>
</form>
<form class="splunk-formatter-section" section-label="Wave">
    <div class="control-group shared-controls-controlgroup">
        <label class="control-label">Height</label>
        <div class="controls controls-fill">
            <input type="text" name="display.visualizations.custom.cuviz_water_gauge.water_gauge.waveHeight" value="0.1"/>
        </div>
    </div>
    <div class="control-group shared-controls-controlgroup">
        <label class="control-label">Count</label>
        <div class="controls controls-fill">
            <input type="text" name="display.visualizations.custom.cuviz_water_gauge.water_gauge.waveCount" value="1"/>
        </div>
    </div>
    <div class="control-group shared-controls-controlgroup">
        <label class="control-label">Animate Time</label>
        <div class="controls controls-fill">
            <input type="text" name="display.visualizations.custom.cuviz_water_gauge.water_gauge.waveAnimateTime" value="50000"/>
        </div>
    </div>
    <div class="control-group shared-controls-controlgroup">
        <label class="control-label">Rise Time</label>
        <div class="controls controls-fill">
            <input type="text" name="display.visualizations.custom.cuviz_water_gauge.water_gauge.waveRiseTime" value="1000"/>
        </div>
    </div>
    <div class="control-group shared-controls-controlgroup">
        <label class="control-label">Offset</label>
        <div class="controls controls-fill">
            <input type="text" name="display.visualizations.custom.cuviz_water_gauge.water_gauge.waveOffset" value="0"/>
        </div>
    </div>
    <div class="control-group shared-controls-controlgroup">
        <label class="control-label">Rise</label>
        <div class="controls controls-fill">
            <splunk-radio-input name="display.visualizations.custom.cuviz_water_gauge.water_gauge.waveRise" value="true">
                <option value="true" selected>Yes</option>
                <option value="false">No</option>
            </splunk-radio-input>
        </div>
    </div>
    <div class="control-group shared-controls-controlgroup">
        <label class="control-label">Height Scaling</label>
        <div class="controls controls-fill">
            <splunk-radio-input name="display.visualizations.custom.cuviz_water_gauge.water_gauge.waveHeightScaling" value="true">
                <option value="true" selected>Yes</option>
                <option value="false">No</option>
            </splunk-radio-input>
        </div>
    </div>
    <div class="control-group shared-controls-controlgroup">
        <label class="control-label">Animate</label>
        <div class="controls controls-fill">
            <splunk-radio-input name="display.visualizations.custom.cuviz_water_gauge.water_gauge.waveAnimate" value="true">
                <option value="true" selected>Yes</option>
                <option value="false">No</option>
            </splunk-radio-input>
        </div>
    </div>
    <div class="control-group shared-controls-controlgroup">
        <label class="control-label">Color</label>
        <div class="controls controls-fill">
            <splunk-color-picker name="display.visualizations.custom.cuviz_water_gauge.water_gauge.waveColor" value="#178BCA">
            </splunk-color-picker>
        </div>
    </div>
</form>
<form class="splunk-formatter-section" section-label="Text">
    <div class="control-group shared-controls-controlgroup">
        <label class="control-label">Vertical Position</label>
        <div class="controls controls-fill">
            <input type="text" name="display.visualizations.custom.cuviz_water_gauge.water_gauge.textVertPosition" value=".5"/>
        </div>
    </div>
    <div class="control-group shared-controls-controlgroup">
        <label class="control-label">Size</label>
        <div class="controls controls-fill">
            <input type="text" name="display.visualizations.custom.cuviz_water_gauge.water_gauge.textSize" value="1"/>
        </div>
    </div>
    <div class="control-group shared-controls-controlgroup">
        <label class="control-label">Value Count Up</label>
        <div class="controls controls-fill">
            <splunk-radio-input name="display.visualizations.custom.cuviz_water_gauge.water_gauge.valueCountUp" value="true">
                <option value="true" selected>Yes</option>
                <option value="false">No</option>
            </splunk-radio-input>
        </div>
    </div>
    <div class="control-group shared-controls-controlgroup">
        <label class="control-label">Display Percent</label>
        <div class="controls controls-fill">
            <splunk-radio-input name="display.visualizations.custom.cuviz_water_gauge.water_gauge.displayPercent" value="true">
                <option value="true" selected>Yes</option>
                <option value="false">No</option>
            </splunk-radio-input>
        </div>
    </div>
    <div class="control-group shared-controls-controlgroup">
        <label class="control-label">Color</label>
        <div class="controls controls-fill">
            <splunk-color-picker name="display.visualizations.custom.cuviz_water_gauge.water_gauge.textColor" value="#045681">
            </splunk-color-picker>
        </div>
    </div>
    <div class="control-group shared-controls-controlgroup">
        <label class="control-label">Wave Text Color</label>
        <div class="controls controls-fill">
            <splunk-color-picker name="display.visualizations.custom.cuviz_water_gauge.water_gauge.waveTextColor" value="#A4DBf8">
            </splunk-color-picker>
        </div>
    </div>
</form>
