<form class="splunk-formatter-section" section-label="Funnel">
    <splunk-control-group label="Curved Funnel">
        <splunk-radio-input name="{{VIZ_NAMESPACE}}.curvedFunnel" value="false">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </splunk-radio-input>
    </splunk-control-group>
    <splunk-control-group label="Inverted Funnel">
        <splunk-radio-input name="{{VIZ_NAMESPACE}}.invertedFunnel" value="false">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </splunk-radio-input>
    </splunk-control-group>
</form>
<form class="splunk-formatter-section" section-label="Label">
    <!-- Add html here to create formatter options -->
    <splunk-control-group label="Font size">
        <splunk-select name="{{VIZ_NAMESPACE}}.fontsize" value="14">
            <option value="10">10</option>
            <option value="12">12</option>
            <option value="14">14</option>
            <option value="16">16</option>
            <option value="18">18</option>
        </splunk-select>
    </splunk-control-group>
    <splunk-control-group label="Unit">
        <splunk-text-input name="{{VIZ_NAMESPACE}}.unit"></splunk-text-input>
    </splunk-control-group>
    <splunk-control-group label="Color">
        <splunk-color-picker name="{{VIZ_NAMESPACE}}.labelcolor" value="#333"></splunk-color-picker>
    </splunk-control-group>
</form>
<form class="splunk-formatter-section" section-label="Block">
    <!-- Add html here to create formatter options -->
    <splunk-control-group label="Bar Overlay">
        <splunk-radio-input name="{{VIZ_NAMESPACE}}.barOverlay" value="false">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </splunk-radio-input>
    </splunk-control-group>
    <splunk-control-group label="Hover highlight">
        <splunk-radio-input name="{{VIZ_NAMESPACE}}.highlight" value="false">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </splunk-radio-input>
    </splunk-control-group>
    <splunk-control-group label="Fill Type">
        <splunk-radio-input name="{{VIZ_NAMESPACE}}.fillType" value="gradient">
            <option value="gradient">Gradient</option>
            <option value="solid">Solid</option>
        </splunk-radio-input>
    </splunk-control-group>
</form>
