<form class="splunk-formatter-section" section-label="Format">
    <div class="control-group">
        <label class="control-label">Chart Type</label>
        <div class="controls controls-block">
            <splunk-select name="display.visualizations.custom.aplura_viz_donut.donut.chartType" value="2D">
                <option value="2D">2D</option>
                <option value="3D">3D</option>
            </splunk-select>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Width</label>
        <div class="controls controls-block">
            <splunk-text-input name="display.visualizations.custom.aplura_viz_donut.donut.svg_width" value="1024">
            </splunk-text-input>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Height</label>
        <div class="controls controls-block">
            <splunk-text-input name="display.visualizations.custom.aplura_viz_donut.donut.svg_height" value="1000">
            </splunk-text-input>
        </div>
    </div>
</form>
<form class="splunk-formatter-section" section-label="Legend">
    <div class="control-group">
        <label class="control-label">Show Legend</label>
        <div class="controls controls-fill">
            <splunk-radio-input name="display.visualizations.custom.aplura_viz_donut.donut.show_legend" value="true">
                <option value="false">No</option>
                <option value="true">Yes</option>
            </splunk-radio-input>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Height (px)</label>
        <div class="controls controls-block">
            <splunk-text-input name="display.visualizations.custom.aplura_viz_donut.donut.legend_height" value="12">
            </splunk-text-input>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Position</label>
        <div class="controls controls-fill">
            <splunk-radio-input name="display.visualizations.custom.aplura_viz_donut.donut.legend_position" value="right">
                <option value="left">left</option>
                <option value="right">right</option>
            </splunk-radio-input>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Top Offset</label>
        <div class="controls controls-block">
            <splunk-text-input name="display.visualizations.custom.aplura_viz_donut.donut.legend_top_fudge" value="-60">
            </splunk-text-input>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Left Offset</label>
        <div class="controls controls-block">
            <splunk-text-input name="display.visualizations.custom.aplura_viz_donut.donut.legend_left_fudge" value="10">
            </splunk-text-input>
        </div>
    </div>
</form>
<form class="splunk-formatter-section" section-label="2D Chart">
    <div class="control-group">
        <label class="control-label">Radius</label>
        <div class="controls controls-block">
            <splunk-text-input name="display.visualizations.custom.aplura_viz_donut.donut.radius" value="80">
            </splunk-text-input>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Donut Width</label>
        <div class="controls controls-block">
            <splunk-text-input name="display.visualizations.custom.aplura_viz_donut.donut.donutWidth" value="50">
            </splunk-text-input>
        </div>
    </div>
</form>
<form class="splunk-formatter-section" section-label="3D Chart">
    <div class="control-group">
        <label class="control-label">X Center</label>
        <div class="controls controls-block">
            <splunk-text-input name="display.visualizations.custom.aplura_viz_donut.donut.xcenter" value="80">
            </splunk-text-input>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Y Center</label>
        <div class="controls controls-block">
            <splunk-text-input name="display.visualizations.custom.aplura_viz_donut.donut.ycenter" value="80">
            </splunk-text-input>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">X Radius</label>
        <div class="controls controls-block">
            <splunk-text-input name="display.visualizations.custom.aplura_viz_donut.donut.xradius" value="60">
            </splunk-text-input>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Y Radius</label>
        <div class="controls controls-block">
            <splunk-text-input name="display.visualizations.custom.aplura_viz_donut.donut.yradius" value="30">
            </splunk-text-input>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Height</label>
        <div class="controls controls-block">
            <splunk-text-input name="display.visualizations.custom.aplura_viz_donut.donut.height" value="20">
            </splunk-text-input>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Inner Radius</label>
        <div class="controls controls-block">
            <splunk-text-input name="display.visualizations.custom.aplura_viz_donut.donut.iradius" value="0.4">
            </splunk-text-input>
        </div>
    </div>
</form>
<form class="splunk-formatter-section" section-label="Drilldown">
    <div class="control-group">
        <label class="control-label">Drilldown</label>
        <div class="controls controls-fill">
            <splunk-radio-input name="display.visualizations.custom.aplura_viz_donut.donut.drilldown" value="Yes">
                <option value="true">Yes</option>
                <option value="false">No</option>
            </splunk-radio-input>
        </div>
    </div>
</form>
<form class="splunk-formatter-section" section-label="Debug">
    <div class="control-group">
        <label class="control-label">JavaScript Logging</label>
        <div class="controls controls-fill">
            <splunk-radio-input name="display.visualizations.custom.aplura_viz_donut.donut.log" value="No">
        <option value="false">No</option>
        <option value="true">Yes</option>
            </splunk-radio-input>
        </div>
    </div>
</form>