/*
 * CSS rules for visualization.
 * Class namespacing is good practice.
 */

.tooltip {
    background: #333;
    box-shadow: 0 0 5px #999999;
    color: #eee;
    display: none;
    font-size: 12px;
    left: 130px;
    padding: 10px;
    position: absolute;
    text-align: left;
    top: 95px;
    width: 200px;
    z-index: 10;
}

.donut .text{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
}

