<form class="splunk-formatter-section" section-label="General">
    <splunk-control-group label="Unit" help="default: $">
        <splunk-text-input name="{{VIZ_NAMESPACE}}.valueUnit" value="$">
        </splunk-text-input>
    </splunk-control-group>
	<splunk-control-group label="Unit position" help="default: none">
		<splunk-radio-input name="{{VIZ_NAMESPACE}}.unitPosition" value="none">
			<option value="none">None</option>
			<option value="after">After</option>
			<option value="before">Before</option>
		</splunk-radio-input>
	</splunk-control-group>
	<!-- Rotation to be integrated later
	<splunk-control-group label="X-Axis label rotation" help="default: 180">
		<splunk-radio-input name="{{VIZ_NAMESPACE}}.xAxisLabelRotation" value="180">
			<option value="180">Horizontal</option>
			<option value="90">Vertical</option>
			<option value="45">45 degrees</option>
		</splunk-radio-input>
	</splunk-control-group>
	-->
	<splunk-control-group label="Bar Text" help="default: hide">
		<splunk-radio-input name="{{VIZ_NAMESPACE}}.showBarText" value="hide">
			<option value="show">Show</option>
			<option value="hide">Hide</option>
		</splunk-radio-input>
	</splunk-control-group>
    <splunk-control-group label="Height" help="default: 300">
        <splunk-text-input name="{{VIZ_NAMESPACE}}.height" value="300">
        </splunk-text-input>
    </splunk-control-group>
    <splunk-control-group label="Width" help="default: 800">
        <splunk-text-input name="{{VIZ_NAMESPACE}}.width" value="800">
        </splunk-text-input>
    </splunk-control-group>	
</form>
<form class="splunk-formatter-section" section-label="Colors">
    <splunk-control-group label="Positive color">
        <splunk-color-picker name="{{VIZ_NAMESPACE}}.positiveColor" value="#31a35f">
        </splunk-color-picker>
    </splunk-control-group>
    <splunk-control-group label="Negative color">
        <splunk-color-picker name="{{VIZ_NAMESPACE}}.negativeColor" value="#31a35f">
        </splunk-color-picker>
    </splunk-control-group>
    <splunk-control-group label="Total color">
        <splunk-color-picker name="{{VIZ_NAMESPACE}}.totalColor" value="#31a35f">
        </splunk-color-picker>
    </splunk-control-group>
    <splunk-control-group label="Connector color">
        <splunk-color-picker name="{{VIZ_NAMESPACE}}.connectorColor" value="#31a35f">
        </splunk-color-picker>
    </splunk-control-group>
    <splunk-control-group label="Bar Text color">
        <splunk-color-picker name="{{VIZ_NAMESPACE}}.barTextColor" value="#31a35f">
        </splunk-color-picker>
    </splunk-control-group>	
</form>