/*
 * CSS rules for visualization.
 */

/* Center the main SVG in the page */
.waterfall-custom-viz svg {
    display: inline;
	margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
}

.bar line.connector {
  stroke-dasharray: 3;
}
.bar text {
  font: 12px Arial;
  text-anchor: middle;
}

.axis text {
  font: 11px Arial;
}

.axis path,
.axis line {
  fill: none;
  stroke: #555555;
  shape-rendering: crispEdges;
}
