#halo {
    display: block;
    margin: auto;
}

#tooltip {
    font-size: 1.2em;
    position: absolute;
    z-index: 100;
    visibility: hidden;
    background-color: black;
    color: white;
    padding: 0.2em;
}

.formatter-info {
    margin: 20px 0px 20px 0px;
}

#ribbon_controls {
    position: absolute;
    margin: 10px;
}

#halo .label-text {
    alignment-baseline: middle;
    text-transform: uppercase;
}

#halo .label-line {
    stroke-width: 1;
    stroke: black;
}

#halo .label-circle {
    fill: black;
}

#halo .label-inner {
    fill: white;
}

#halo .line {
    fill: none;
    stroke-width: 1.5px;
}

#halo path {
    stroke: #161616;
    stroke-width: 1px;
}
