.splunk-dashboard-controls {
  display:none;
}
#chart1, #chart2, #contextOverlayChart, #contextChart {
    height: 470px;
}
#explorerChart {
    height: 400px;
}
#explorerModal {
  width: 800px;
  margin-left: -400px;
}
#explorerModal .modal-body {
  max-height: 500px;
}
/* 
** NVD3 CSS 
** @link https://github.com/novus/nvd3/blob/master/src/nv.d3.css
*/

/********************
 * HTML CSS
 */


.chartWrap {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/********************
  Box shadow and border radius styling
*/
.nvtooltip.with-3d-shadow, .with-3d-shadow .nvtooltip {
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

/********************
 * TOOLTIP CSS
 */

.nvtooltip {
  position: absolute;
  background-color: rgba(255,255,255,1.0);
  padding: 1px;
  border: 1px solid rgba(0,0,0,.2);
  z-index: 10000;

  font-family: Arial;
  font-size: 13px;
  text-align: left;
  pointer-events: none;

  white-space: nowrap;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*Give tooltips that old fade in transition by
    putting a "with-transitions" class on the container div.
*/
.nvtooltip.with-transitions, .with-transitions .nvtooltip {
  transition: opacity 250ms linear;
  -moz-transition: opacity 250ms linear;
  -webkit-transition: opacity 250ms linear;

  transition-delay: 250ms;
  -moz-transition-delay: 250ms;
  -webkit-transition-delay: 250ms;
}

.nvtooltip.x-nvtooltip,
.nvtooltip.y-nvtooltip {
  padding: 8px;
}

.nvtooltip h3 {
  margin: 0;
  padding: 4px 14px;
  line-height: 18px;
  font-weight: normal;
  background-color: rgba(247,247,247,0.75);
  text-align: center;

  border-bottom: 1px solid #ebebeb;

  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

.nvtooltip p {
  margin: 0;
  padding: 5px 14px;
  text-align: center;
}

.nvtooltip span {
  display: inline-block;
  margin: 2px 0;
}

.nvtooltip table {
  margin: 6px;
  border-spacing:0;
}


.nvtooltip table td {
  padding: 2px 9px 2px 0;
  vertical-align: middle;
}

.nvtooltip table td.key {
  font-weight:normal;
}
.nvtooltip table td.value {
  text-align: right;
  font-weight: bold;
}

.nvtooltip table tr.highlight td {
  padding: 1px 9px 1px 0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-top-width: 1px;
}

.nvtooltip table td.legend-color-guide div {
  width: 8px;
  height: 8px;
  vertical-align: middle;
}

.nvtooltip .footer {
  padding: 3px;
  text-align: center;
}


.nvtooltip-pending-removal {
  position: absolute;
  pointer-events: none;
}


/********************
 * SVG CSS
 */


svg {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* Trying to get SVG to act like a greedy block in all browsers */
  display: block;
  width:100%;
  height:100%;
}


svg text {
  font: normal 12px Arial;
}

svg .title {
 font: bold 14px Arial;
}

.nvd3 .nv-background {
  fill: white;
  fill-opacity: 0;
  /*
  pointer-events: none;
  */
}

.nvd3.nv-noData {
  font-size: 18px;
  font-weight: bold;
}


/**********
*  Brush
*/

.nv-brush .extent {
  fill-opacity: .125;
  shape-rendering: crispEdges;
}



/**********
*  Legend
*/

.nvd3 .nv-legend .nv-series {
  cursor: pointer;
}

.nvd3 .nv-legend .disabled circle {
  fill-opacity: 0;
}



/**********
*  Axes
*/
.nvd3 .nv-axis {
  pointer-events:none;
}

.nvd3 .nv-axis path {
  fill: none;
  stroke: #000;
  stroke-opacity: .75;
  shape-rendering: crispEdges;
}

.nvd3 .nv-axis path.domain {
  stroke-opacity: .75;
}

.nvd3 .nv-axis.nv-x path.domain {
  stroke-opacity: 0;
}

.nvd3 .nv-axis line {
  fill: none;
  stroke: #e5e5e5;
  shape-rendering: crispEdges;
}

.nvd3 .nv-axis .zero line,
/*this selector may not be necessary*/ .nvd3 .nv-axis line.zero {
  stroke-opacity: .75;
}

.nvd3 .nv-axis .nv-axisMaxMin text {
  font-weight: bold;
}

.nvd3 .x  .nv-axis .nv-axisMaxMin text,
.nvd3 .x2 .nv-axis .nv-axisMaxMin text,
.nvd3 .x3 .nv-axis .nv-axisMaxMin text {
  text-anchor: middle
}



/**********
*  Brush
*/

.nv-brush .resize path {
  fill: #eee;
  stroke: #666;
}



/**********
*  Bars
*/

.nvd3 .nv-bars .negative rect {
    zfill: brown;
}

.nvd3 .nv-bars rect {
  zfill: steelblue;
  fill-opacity: .75;

  transition: fill-opacity 250ms linear;
  -moz-transition: fill-opacity 250ms linear;
  -webkit-transition: fill-opacity 250ms linear;
}

.nvd3 .nv-bars rect.hover {
  fill-opacity: 1;
}

.nvd3 .nv-bars .hover rect {
  fill: lightblue;
}

.nvd3 .nv-bars text {
  fill: rgba(0,0,0,0);
}

.nvd3 .nv-bars .hover text {
  fill: rgba(0,0,0,1);
}


/**********
*  Bars
*/

.nvd3 .nv-multibar .nv-groups rect,
.nvd3 .nv-multibarHorizontal .nv-groups rect,
.nvd3 .nv-discretebar .nv-groups rect {
  stroke-opacity: 0;

  transition: fill-opacity 250ms linear;
  -moz-transition: fill-opacity 250ms linear;
  -webkit-transition: fill-opacity 250ms linear;
}

.nvd3 .nv-multibar .nv-groups rect:hover,
.nvd3 .nv-multibarHorizontal .nv-groups rect:hover,
.nvd3 .nv-discretebar .nv-groups rect:hover {
  fill-opacity: 1;
}

.nvd3 .nv-discretebar .nv-groups text,
.nvd3 .nv-multibarHorizontal .nv-groups text {
  font-weight: bold;
  fill: rgba(0,0,0,1);
  stroke: rgba(0,0,0,0);
}

/***********
*  Pie Chart
*/

.nvd3.nv-pie path {
  stroke-opacity: 0;
  transition: fill-opacity 250ms linear, stroke-width 250ms linear, stroke-opacity 250ms linear;
  -moz-transition: fill-opacity 250ms linear, stroke-width 250ms linear, stroke-opacity 250ms linear;
  -webkit-transition: fill-opacity 250ms linear, stroke-width 250ms linear, stroke-opacity 250ms linear;

}

.nvd3.nv-pie .nv-slice text {
  stroke: #000;
  stroke-width: 0;
}

.nvd3.nv-pie path {
  stroke: #fff;
  stroke-width: 1px;
  stroke-opacity: 1;
}

.nvd3.nv-pie .hover path {
  fill-opacity: .7;
}
.nvd3.nv-pie .nv-label {
  pointer-events: none;
}
.nvd3.nv-pie .nv-label rect {
  fill-opacity: 0;
  stroke-opacity: 0;
}

/**********
* Lines
*/

.nvd3 .nv-groups path.nv-line {
  fill: none;
  stroke-width: 1.5px;
  /*
  stroke-linecap: round;
  shape-rendering: geometricPrecision;

  transition: stroke-width 250ms linear;
  -moz-transition: stroke-width 250ms linear;
  -webkit-transition: stroke-width 250ms linear;

  transition-delay: 250ms
  -moz-transition-delay: 250ms;
  -webkit-transition-delay: 250ms;
  */
}

.nvd3 .nv-groups path.nv-line.nv-thin-line {
  stroke-width: 1px;
}


.nvd3 .nv-groups path.nv-area {
  stroke: none;
  /*
  stroke-linecap: round;
  shape-rendering: geometricPrecision;

  stroke-width: 2.5px;
  transition: stroke-width 250ms linear;
  -moz-transition: stroke-width 250ms linear;
  -webkit-transition: stroke-width 250ms linear;

  transition-delay: 250ms
  -moz-transition-delay: 250ms;
  -webkit-transition-delay: 250ms;
  */
}

.nvd3 .nv-line.hover path {
  stroke-width: 6px;
}

/*
.nvd3.scatter .groups .point {
  fill-opacity: 0.1;
  stroke-opacity: 0.1;
}
  */

.nvd3.nv-line .nvd3.nv-scatter .nv-groups .nv-point {
  fill-opacity: 0;
  stroke-opacity: 0;
}

.nvd3.nv-scatter.nv-single-point .nv-groups .nv-point {
  fill-opacity: .5 !important;
  stroke-opacity: .5 !important;
}


.with-transitions .nvd3 .nv-groups .nv-point {
  transition: stroke-width 250ms linear, stroke-opacity 250ms linear;
  -moz-transition: stroke-width 250ms linear, stroke-opacity 250ms linear;
  -webkit-transition: stroke-width 250ms linear, stroke-opacity 250ms linear;

}

.nvd3.nv-scatter .nv-groups .nv-point.hover,
.nvd3 .nv-groups .nv-point.hover {
  stroke-width: 7px;
  fill-opacity: .95 !important;
  stroke-opacity: .95 !important;
}


.nvd3 .nv-point-paths path {
  stroke: #aaa;
  stroke-opacity: 0;
  fill: #eee;
  fill-opacity: 0;
}



.nvd3 .nv-indexLine {
  cursor: ew-resize;
}


/**********
* Distribution
*/

.nvd3 .nv-distribution {
  pointer-events: none;
}



/**********
*  Scatter
*/

/* **Attempting to remove this for useVoronoi(false), need to see if it's required anywhere
.nvd3 .nv-groups .nv-point {
  pointer-events: none;
}
*/

.nvd3 .nv-groups .nv-point.hover {
  stroke-width: 20px;
  stroke-opacity: .5;
}

.nvd3 .nv-scatter .nv-point.hover {
  fill-opacity: 1;
}

/*
.nv-group.hover .nv-point {
  fill-opacity: 1;
}
*/


/**********
*  Stacked Area
*/

.nvd3.nv-stackedarea path.nv-area {
  fill-opacity: .7;
  /*
  stroke-opacity: .65;
  fill-opacity: 1;
  */
  stroke-opacity: 0;

  transition: fill-opacity 250ms linear, stroke-opacity 250ms linear;
  -moz-transition: fill-opacity 250ms linear, stroke-opacity 250ms linear;
  -webkit-transition: fill-opacity 250ms linear, stroke-opacity 250ms linear;

  /*
  transition-delay: 500ms;
  -moz-transition-delay: 500ms;
  -webkit-transition-delay: 500ms;
  */

}

.nvd3.nv-stackedarea path.nv-area.hover {
  fill-opacity: .9;
  /*
  stroke-opacity: .85;
  */
}
/*
.d3stackedarea .groups path {
  stroke-opacity: 0;
}
  */



.nvd3.nv-stackedarea .nv-groups .nv-point {
  stroke-opacity: 0;
  fill-opacity: 0;
}

/*
.nvd3.nv-stackedarea .nv-groups .nv-point.hover {
  stroke-width: 20px;
  stroke-opacity: .75;
  fill-opacity: 1;
}*/



/**********
*  Line Plus Bar
*/

.nvd3.nv-linePlusBar .nv-bar rect {
  fill-opacity: .75;
}

.nvd3.nv-linePlusBar .nv-bar rect:hover {
  fill-opacity: 1;
}


/**********
*  Bullet
*/

.nvd3.nv-bullet { font: 10px sans-serif; }
.nvd3.nv-bullet .nv-measure { fill-opacity: .8; }
.nvd3.nv-bullet .nv-measure:hover { fill-opacity: 1; }
.nvd3.nv-bullet .nv-marker { stroke: #000; stroke-width: 2px; }
.nvd3.nv-bullet .nv-markerTriangle { stroke: #000; fill: #fff; stroke-width: 1.5px; }
.nvd3.nv-bullet .nv-tick line { stroke: #666; stroke-width: .5px; }
.nvd3.nv-bullet .nv-range.nv-s0 { fill: #eee; }
.nvd3.nv-bullet .nv-range.nv-s1 { fill: #ddd; }
.nvd3.nv-bullet .nv-range.nv-s2 { fill: #ccc; }
.nvd3.nv-bullet .nv-title { font-size: 14px; font-weight: bold; }
.nvd3.nv-bullet .nv-subtitle { fill: #999; }


.nvd3.nv-bullet .nv-range {
  fill: #bababa;
  fill-opacity: .4;
}
.nvd3.nv-bullet .nv-range:hover {
  fill-opacity: .7;
}



/**********
* Sparkline
*/

.nvd3.nv-sparkline path {
  fill: none;
}

.nvd3.nv-sparklineplus g.nv-hoverValue {
  pointer-events: none;
}

.nvd3.nv-sparklineplus .nv-hoverValue line {
  stroke: #333;
  stroke-width: 1.5px;
 }

.nvd3.nv-sparklineplus,
.nvd3.nv-sparklineplus g {
  pointer-events: all;
}

.nvd3 .nv-hoverArea {
  fill-opacity: 0;
  stroke-opacity: 0;
}

.nvd3.nv-sparklineplus .nv-xValue,
.nvd3.nv-sparklineplus .nv-yValue {
  /*
  stroke: #666;
  */
  stroke-width: 0;
  font-size: .9em;
  font-weight: normal;
}

.nvd3.nv-sparklineplus .nv-yValue {
  stroke: #f66;
}

.nvd3.nv-sparklineplus .nv-maxValue {
  stroke: #2ca02c;
  fill: #2ca02c;
}

.nvd3.nv-sparklineplus .nv-minValue {
  stroke: #d62728;
  fill: #d62728;
}

.nvd3.nv-sparklineplus .nv-currentValue {
  /*
  stroke: #444;
  fill: #000;
  */
  font-weight: bold;
  font-size: 1.1em;
}

/**********
* historical stock
*/

.nvd3.nv-ohlcBar .nv-ticks .nv-tick {
  stroke-width: 2px;
}

.nvd3.nv-ohlcBar .nv-ticks .nv-tick.hover {
  stroke-width: 4px;
}

.nvd3.nv-ohlcBar .nv-ticks .nv-tick.positive {
 stroke: #2ca02c;
}

.nvd3.nv-ohlcBar .nv-ticks .nv-tick.negative {
 stroke: #d62728;
}

.nvd3.nv-historicalStockChart .nv-axis .nv-axislabel {
  font-weight: bold;
}

.nvd3.nv-historicalStockChart .nv-dragTarget {
  fill-opacity: 0;
  stroke: none;
  cursor: move;
}

.nvd3 .nv-brush .extent {
  /*
  cursor: ew-resize !important;
  */
  fill-opacity: 0 !important;
}

.nvd3 .nv-brushBackground rect {
  stroke: #000;
  stroke-width: .4;
  fill: #fff;
  fill-opacity: .7;
}



/**********
* Indented Tree
*/


/**
 * TODO: the following 3 selectors are based on classes used in the example.  I should either make them standard and leave them here, or move to a CSS file not included in the library
 */
.nvd3.nv-indentedtree .name {
  margin-left: 5px;
}

.nvd3.nv-indentedtree .clickable {
  color: #08C;
  cursor: pointer;
}

.nvd3.nv-indentedtree span.clickable:hover {
  color: #005580;
  text-decoration: underline;
}


.nvd3.nv-indentedtree .nv-childrenCount {
  display: inline-block;
  margin-left: 5px;
}

.nvd3.nv-indentedtree .nv-treeicon {
  cursor: pointer;
  /*
  cursor: n-resize;
  */
}

.nvd3.nv-indentedtree .nv-treeicon.nv-folded {
  cursor: pointer;
  /*
  cursor: s-resize;
  */
}

/**********
* Parallel Coordinates
*/

.nvd3 .background path {
  fill: none;
  stroke: #ccc;
  stroke-opacity: .4;
  shape-rendering: crispEdges;
}

.nvd3 .foreground path {
  fill: none;
  stroke: steelblue;
  stroke-opacity: .7;
}

.nvd3 .brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.nvd3 .axis line, .axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.nvd3 .axis text {
  text-shadow: 0 1px 0 #fff;
}

/****
Interactive Layer
*/
.nvd3 .nv-interactiveGuideLine {
  pointer-events:none;
}
.nvd3 line.nv-guideline {
  stroke: #ccc;
}

/* JOE Module */

.moduleFrame {
  border: 1px solid #eeeeee;
  border-radius: 8px;
  margin: -13px;
  overflow: hidden;
}

.moduleHeader {
  background: url(images/module-hdr.png) repeat-x; 
  border-color: #f1f1f3 #f1f1f3 #f1f1f3 #f1f1f3; 
  border-style:solid; 
  border-width:1px; 
  color:#666666; 
  font-size: 20px;
  margin-bottom: 8px;
  overflow:hidden; 
  padding:2px; 
}

.moduleTitle {
  /*background:url(g/icon.gif) no-repeat; */
  height:1.4em; 
  line-height:1.4em; 
  float:left; 
  padding-left:18px; 
  font-weight:normal;
}
.moduleActions {
  float:right; 
  height:18px;
  padding-right:10px;
  padding-top:8px;
}
.moduleActions b {
  cursor:pointer;
  width:16px;
  height:16px;
  float:left
}
/*
.actionRefresh {
  background:url('g/actionRefresh.png');
}
*/
.actionMax {
  background-image:url(images/collapse.png);
  background-size: 90%;
  background-repeat: no-repeat;
}
.actionMin {
  display:none;
  background-image:url(images/expand.png);
  background-size: 90%;
  background-repeat: no-repeat;
}
/*
actionClose {
  background:url('g/actionClose.png');
}
*/
/*
.moduleHeader:hover .moduleActions {display:block}
*/
.moduleContent {
  padding: 0px 20px 20px;
}


/*** JOE DASHBOARD ***/
#side_nav {
  list-style-type:none; 
  float:left; 
  margin: 0px; 
  width:150px;
}
#side_nav li {
  overflow:visible; 
  height: 75px; 
  width:75px; 
  float:left; 
  margin: 0; 
  padding:0px; 
  cursor:pointer; 
  white-space:nowrap; 
  position:relative; 
}
#side_nav li img {
  height: 75px; 
  width:75px; 
}
#side_nav li img:hover {
}
#nav_contexts {
  height: 75px; 
  width:75px; 
  background: url(images/concepts.png);
}
#nav_contexts:hover {
  background: url(images/concepts.png);
}
#nav_concepts {
  height: 75px; 
  width:75px; 
  background: url(images/contexts.png);
}
#nav_concepts:hover {
  background: url(images/contexts.png);
}

/*! =========================================================
 * bootstrap-slider.js
 *
 * Maintainers: 
 *		Kyle Kemp 
 *			- Twitter: @seiyria
 *			- Github:  seiyria
 *		Rohit Kalkur
 *			- Twitter: @Rovolutionary
 *			- Github:  rovolution
 *
 * =========================================================
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 * ========================================================= */
.slider {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.slider.slider-horizontal {
  width: 210px;
  height: 20px;
}
.slider.slider-horizontal .slider-track {
  height: 10px;
  width: 100%;
  margin-top: -5px;
  top: 50%;
  left: 0;
}
.slider.slider-horizontal .slider-selection {
  height: 100%;
  top: 0;
  bottom: 0;
}
.slider.slider-horizontal .slider-handle {
  margin-left: -10px;
  margin-top: -5px;
}
.slider.slider-horizontal .slider-handle.triangle {
  border-width: 0 10px 10px 10px;
  width: 0;
  height: 0;
  border-bottom-color: #0480be;
  margin-top: 0;
}
.slider.slider-vertical {
  height: 210px;
  width: 20px;
}
.slider.slider-vertical .slider-track {
  width: 10px;
  height: 100%;
  margin-left: -5px;
  left: 50%;
  top: 0;
}
.slider.slider-vertical .slider-selection {
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
}
.slider.slider-vertical .slider-handle {
  margin-left: -5px;
  margin-top: -10px;
}
.slider.slider-vertical .slider-handle.triangle {
  border-width: 10px 0 10px 10px;
  width: 1px;
  height: 1px;
  border-left-color: #0480be;
  margin-left: 0;
}
.slider.slider-disabled .slider-handle {
  background-image: -webkit-linear-gradient(top, #dfdfdf 0%, #bebebe 100%);
  background-image: linear-gradient(to bottom, #dfdfdf 0%, #bebebe 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdfdfdf', endColorstr='#ffbebebe', GradientType=0);
}
.slider.slider-disabled .slider-track {
  background-image: -webkit-linear-gradient(top, #e5e5e5 0%, #e9e9e9 100%);
  background-image: linear-gradient(to bottom, #e5e5e5 0%, #e9e9e9 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe5e5e5', endColorstr='#ffe9e9e9', GradientType=0);
  cursor: not-allowed;
}
.slider input {
  display: none;
}
.slider .tooltip.top {
  margin-top: -36px;
}
.slider .tooltip-inner {
  white-space: nowrap;
}
.slider .hide {
  display: none;
}
.slider-track {
  position: absolute;
  cursor: pointer;
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #f9f9f9 100%);
  background-image: linear-gradient(to bottom, #f5f5f5 0%, #f9f9f9 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.slider-selection {
  position: absolute;
  background-image: -webkit-linear-gradient(top, #f9f9f9 0%, #f5f5f5 100%);
  background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff9f9f9', endColorstr='#fff5f5f5', GradientType=0);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
}
.slider-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #3a94a5;
  background-image: -webkit-linear-gradient(top, #149bdf 0%, #0480be 100%);
  background-image: linear-gradient(to bottom, #149bdf 0%, #0480be 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff149bdf', endColorstr='#ff0480be', GradientType=0);
  filter: none;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  opacity: 0.8;
  border: 0px solid transparent;
  z-index: 9999999999;
}
.slider-handle.round {
  border-radius: 50%;
  z-index: 5555;
}
.slider-handle.triangle {
  background: transparent none;
}
.slider-handle.custom {
  background: transparent none;
}
.slider-handle.custom::before {
  line-height: 20px;
  font-size: 20px;
  content: '\2605';
  color: #726204;
}

/* Fix bootstrap btn-danger */
.btn-danger {
  color: #ffffff;
  background-color: #DA4F49;
  background-image: linear-gradient(to bottom, #EE5F5B, #BD362F);
  background-repeat: repeat x;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  box-shadow: none;
}
.btn-danger:hover {
  background-color: #BD362F;
  background-image: linear-gradient(to bottom, #EE5F5B, #BD362F);
}

.dashboard-header p.description {
  margin: 10px 200px 10px 0px;
}

.dashboard-row {
}

.xsv_populating {
  color: #808080;
  font-size: 11px;
  margin-left: 10px;
  line-height: 14px;
}

.cmdname {
	font-size: medium;
	font-style: normal;
	font-weight: bold;
	color: #0069C2;
}
.cmd {
	font-size: 130%;
	font-weight: bold;
	color: #000;
}
.head2 {
	font-size: 180%;;
	font-style: normal;
	font-weight: bold;
	color: #0069C2;
}
.head3 {
	font-size: 150%;
	font-style: normal;
	font-weight: bold;
	color: #0069C2;
	}
.head4 {
	font-size: 130%;
	font-style: normal;
	font-weight: bold;
	color: #0069C2;
}
.head5 {
	font-size: 110%;
	font-style: normal;
	font-weight: bold;
	color: #0069C2;
}
.head6 {
	font-size: 100%;
	font-style: normal;
	font-weight: bold;
	color: #0069C2;
}
.bodytext {
	font-size: medium;
	font-weight: normal;
	color: #000;
}
.tableeven {
	font-size: medium;
	font-weight: normal;
	color: #000;
	background-color: #EDEDED;
}
.tableodd {
	font-size: medium;
	font-weight: normal;
	color: #000;
}
.explanation {
	font-size: medium;
	font-style: normal;
	font-weight: normal;
	color: #000;
}

.code {
  font-size: medium;
  color: #000;
  background: #d8d8d8;
  text-shadow: 1px 1px #fff;
  border: 1px solid #bbbbbb;
  display: block;
  padding: 7px;
  margin: 5px 0;
  border-radius: 7px;
}

.para {
	color: #000;
	font-size: medium;
	font-style: normal;
	font-weight: bold;
}
.insetrt {
  font-size: 100%;
  color: #fff;
  float: right;
  align: center;
  background: #0069C2;
  border: 1px solid #0069C2;
  padding: 10px;
  margin-left: 20px;
  border-radius: 7px;
}
.insetlt {
  font-size: 100%;
  color: #fff;
  float: left;
  align: center;
  background: #0069C2;
  border: 1px solid #0069C2;
  padding: 10px;
  margin-right: 20px;
  border-radius: 7px;
}

.btn-xtreme {
  background: #006bc4;
  background-image: linear-gradient(to bottom, #007fd0, #006bc4);
  background-repeat: repeat-x;
  border: 1px solid #006bc4;
  box-shadow: 0 1px 0 #007fd0 inset;
  color: #FFFFFF;
  margin-right: 5px;
}
.btn-xtreme:hover {
  background: #007fd0;
  background-image: linear-gradient(to bottom, #018de6, #007fd0);
  background-repeat: repeat-x;
  border: 1px solid #007fd0;
  box-shadow: 0 1px 0 #018de6 inset;
  color: #FFFFFF;
}
.icon-play {
  margin-right: 5px;
}

.concept-list {
  list-style-type: none;
  margin: 2px 0px;
}

.concept-list li {
  border: 1px solid #CCCCCC;
  margin-bottom: -1px;
  padding: 3px 5px;
}

.concept-list li span {
  background-color: #0069C2;
  color: #ffffff;
  cursor: pointer;
  float: right;
  margin-left: 5px;
  padding: 0px 5px;
}
.concept-list li span:last {
  margin-right: 0px;
}
.xsv-inset {
  background: #006bc4;
  float: right;
  border: 10px solid #006bc4;
  box-shadow: 0 1px 0 #007fd0 inset;
  max-width: 500px;
  color: #FFFFFF;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 15px;
  margin-right: 10px;  
}
.xsv-blue {
  background: #006bc4;
  border: 10px solid #006bc4;
  box-shadow: 0 1px 0 #007fd0 inset;
  max-width: 600px;
  color: #FFFFFF;
  margin-top: 10px;
  margin-right: 10px;
  padding: 30px;
}
.xsv-faq {
  background-color: #F0F0F0;
  float: left;
  margin-top: 5px;
  padding: 10px 20px;
  width: 100%;
  max-width: 400px;
}
.xsv-faq {
  margin-left: -20px
  margin-right: -20px;
  background-color: #DEEE;
  clear: both;
}
.xsv-faq.side {
  float: right;
  max-width: 600px;
}
.xsv-faq h1 {
  font-size: 24px;
  font-weight: 200;
  margin-top: 0px;
}
.xsv-faq-group {
  max-width: 600px;
}
.xsv-faq-header {
  margin-bottom: 10px;
  cursor: pointer;
  padding-eft: 14px;
  position: relative;
}
.xsv-faq-header .icon-accordion-toggle {
  position: absolute;
  left: 0px;
  top: 0px;
}
.xsv-faq-question {
  cursor: pointer;
  margin-left: 15px;
}
.xsv-faq-body {
  margin-left: 34px;
  margin-bottom: 20px;
  display:none;
}

.slider {
  display: block;
}

/* One-Step Context Create Concept Explorer*/
#concept-list-panel {
  margin-left: -10px;
}
.explorer-row.concepts.small {
  height: 100px;
}
/* Context Explorer */
.xsv-success-message {
  font-size: 12px;
  font-weight: bold;
  margin-left: 20px;
}
.xsv-error-message {
  color: #CC3300;
  font-size: 12px;
  font-weight: bold;
  margin-left: 20px;
}
.loading-apps, .loading-containers, .loading-contexts, .loading-classes, .loading-concepts, .no-classes {
  color: #999999;
  margin-top: 50px;
  text-align: center;
  width: 100%;
}
.explorer-category-container {
  display: inline-block;
  margin-top: -10px;
  vertical-align: top;
  width: 25%;
}
.explorer-category {
  font-size: 12px;
  height: 120px;
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
  width: 100%;
}
.explorer-category.concepts {
  height: 500px;
}
.explorer-category .control-group {
  margin-bottom: 0px;
}
.explorer-category .control-group label {
  display: inline-block;
  font-size: 11px;
  margin-bottom:0px;
}
.explorer-category .control-group label:first-child {
  font-weight: bold;
  padding-right:5px;
  text-align: right;
  vertical-align: middle;
  width:40%; 
}
.explorer-category .control-group label:last-child {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  vertical-align: middle;
  white-space: nowrap;
  width:55%; 
}
.category-description {
  font-weight: normal;
  width: 100%;
  padding-bottom: 10px;
}
.explorer-category > div {
  padding: 35px 10px 5px 0px;
}
.explorer-category-label {
  display: inline-block;
  float: left;
  font-size: 18px;
  max-width: 150px;
  overflow: hidden;
  padding: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: -moz-max-content;
}
.explorer-category-select {
  display: inline-block;
  float: right;
  width: 125px;
}
.explorer-category-description {
  color: #999;
  padding-bottom: 10px;
}

.explorer-row-container {
  display: inline-block;
  margin-top: -10px;
  width: 73%;
}
.explorer-row {
  display: block;
  height: 120px;
  padding-bottom:30px;
}
.explorer-row-label {
  overflow: hidden;
  padding: 0px 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.explorer-row.concepts {
  height: 500px;
}
.explorer-nav {
  font-size: 48px;
}
.explorer-nav.small {
  font-size: 24px;
}
.explorer-nav.left {
  display: inline-block;
  height: 120px;
  line-height: 120px;
  margin-left: 10px;
  vertical-align: top;
  width: 25px;
}
.explorer-nav.left.small {
  height: 80px;
  line-height: 80px;
  width: 15px;
}
.explorer-nav.right {
  display: inline-block;
  height: 120px;
  line-height: 120px;
  margin-right: 10px;
  vertical-align: top;
  width: 25px;
}
.explorer-nav.right.small {
  height: 80px;
  line-height: 80px;
  width: 15px;
}
.explorer-content {
  display: inline-block;
  height: 63px;
  width: 85%;
  margin: 8px 10px 0px;
}
.explorer-content.small {
  width: 65%;
}
.explorer-icon {
  text-align: center;
}
.explorer-row-item {
  float:left;
  padding: 0px 20px;
}
.explorer-row-item > div:last-child {
  padding-top: 10px;
}
.explorer-item {
  color: #333333;
  padding: 20px;
  text-align: center;
}

.explorer-item.clicked {
  color: #0069C2;
}
.owl-item.active .clicked {
  background: #F0F0F0;
  border: 2px solid #0069C2;
}

#xsv_select_row .dashboard-panel {
  background: none;
  border: none;
}

#xsv-view-container h1 {
  font-weight: normal;
}

#wizard-placeholder {
  float: left;
}


.step-wizard .step-container.active .step-label {
  color: #4E802A;
}

.step-wizard .step-container .step-label {
  color: #999;
  padding: 4px 1.25em 0px;
  max-width: 150px;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  width: -moz-max-content;
}

.step-wizard .step-container {
  min-height: 80px;
  float:left;
  margin: 0px
  padding: 0px;
  font-size: 12px;
  width: -moz-min-content;
}
.step-wizard .step-container .step-indicator {
  position: relative;
  margin-left: -2%;
  width: 102%;
  margin-top: 30px;
  padding-bottom: 1em;
}

.step-wizard .step-container.active .circle {
  height: 17px;
  width: 17px;
  top: -7px;
  border-radius: 10px;
  background-color: #4E802A;
}
.step-wizard .step-container .step-indicator .circle {
  float: left;
  position: absolute;
  margin: 0px auto;
  left: 0px;
  right: 0px;
  box-sizing: content-box;
  text-align: center;
}
.step-wizard .step-container .step-indicator .connector.left {
  width: 50%;
}
.step-wizard .step-container .step-indicator .connector.right {
  width: 51%;
  margin-left: -1%;
}
.step-wizard .step-container .step-indicator .connector {
  float: left;
  box-sizing: border-box;
}
.step-wizard .step-container.first .connector.left > div:first-child {
  background-color: transparent;
  width: 1.25em;
}
.step-wizard .step-container .step-indicator .connector.left > div:first-child {
  width: 1.25em;
}
.step-wizard .step-container.active .connector.left > div {
  background-color: #4E802A;
}
.step-wizard .step-container .step-indicator .connector > div:first-child {
  float: left;
}
.step-wizard .step-container .step-indicator .connector > div {
  background-color: #BBB;
  height: 3px;
}
.step-wizard .step-container .step-indicator .connector.left > div:last-child {
  margin-left: 1.25em;
  width: calc(100% - 1.25em);
}
.step-wizard .step-container.active .connector.left > div {
  background-color: #4E802A;
}
.step-wizard .step-container .step-indicator .connector.right > div:first-child {
  width: calc(100% - 1.25em);
}
.step-wizard .step-container .step-indicator .connector.right > div:last-child {
  margin-left: calc(100% - 1.25em);
  width: 1.25em;
}
.step-wizard .step-container.last .connector.left > div:first-child {
  width: calc(50% - 2px);
}
.step-wizard .step-container.last .connector.left > div:last-child {
  width: calc(100% - 23px);
  margin-left: calc(1.25em - 3px);
}
.step-wizard .step-container.last .circle {
  height: 16px;
  width: 16px;
  top: -10.5px;
  border-radius: 13px;
  border: 3px solid #BBB;
  background-color: transparent;
}
.step-wizard .step-container.last .connector.right > div:first-child {
  width: calc(100% - 1.25em);
}
.step-wizard .step-container.last .connector.right > div {
  background-color: transparent;
}
.step-wizard .step-container.last .connector.right > div:last-child {
  margin-left: calc(100% - 1.25em);
  width: 1.25em;
}
.step-wizard .nav-buttons {
  float: left;
  height: 63px;
  line-height: 63px;
  margin-left: 10px;
}
.step-wizard .nav-buttons .btn {
  font-size: 14px;
}
.step-wizard .nav-buttons .next-button {
  margin-left: 5px;
}
.step-wizard .step-container.completed .step-label {
  opacity: 0.6;
  color: #4E802A;
}
.step-wizard .step-container.completed .connector > div {
  background-color: #4E802A;
}

.step-wizard .step-container.last.active .circle {
  background-color: #4E802A;
  border-color: #4E802A;
}

.addDataHeader {
  padding-top: 0px !important;
}
.addDataTitle {
  float: left;
  height: 30px;
  margin: 20px !important;
}
.wizard-box {
  border-right: 1px solid #c0c0c0; 
  display:inline-block;
  margin:0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
  padding:10px 0px;
  vertical-align: top;
  width: 33%;
}
.wizard-box.last {
  border-right: none;
}
.inner-wizard-box {
  display: table;
  margin:0 auto;
}
.xsv-main-section-body {
}
.progress-container {
  position: absolute;
  top: -85px;
}
.xsv-menu-select-view {
  margin-top: 20px;
  text-align: center;
  width: 50%;
}
.xsv-menu-select-view.left {
  float: left;
}
.xsv-menu-select-view.right {
  float: right;
}
.xsv-menu-column-label {
  color: #0069C2;
  font-size: 22px;
  font-weight: bold;
}
.xsv-menu-selections {
}
.xsv-menu-selection {
  border: 2px solid #0069C2;
  display: inline-block;
  margin: 20px;
}
.xsv-menu-item {
  background-color: #f0f0f0;
  cursor: pointer;
  float: left;
  padding: 5px;
  vertical-align: top;
}
.xsv-menu-item.clicked {
  border: 2px solid #0069C2;
}
.xsv-menu-item > img {
  height: 150px;
  margin: 10px;
  vertical-align: middle;
}
.xsv-menu-labels {
  margin-top: 10px;
  text-align: center;
}
.xsv-menu-labels > label.title {
  color: #0069C2;
  font-size: 13px;
}
.concept-selections {
}
.concept-item {
  background-color: #f0f0f0;
  border: 2px solid #f0f0f0;
  float: left;
  margin: 5px;
  padding: 5px;
  vertical-align: top;
}
.concept-item.clicked {
  border: 2px solid #0069C2;
}
.concept-item > img {
  float: right;
  height: 150px;
  margin: 0px;
  vertical-align: middle;
}
.concept-labels {
  float: left;
  height: 130px;
  margin-top: 20px;
  text-align: center;
  width: 120px;
}
.concept-labels > label.title {
  font-size: 15px;
}
.concept-labels > label.title.custom-concepts {
  font-size: 15px;
  margin-top: 25px;
}
.explorer-row.containers {
  background-color: #f8f8f8;
}
.explorer-row.classes {
  background-color: #f8f8f8;
}
.explorer-category.containers {
  background-color: #f8f8f8;
}
.explorer-category.classes {
  background-color: #f8f8f8;
}

#chartModal .concept-detail .control-group label { 
  display: inline-block;
  font-size: 11px;
  margin-bottom:0px;
}
#chartModal .concept-detail .control-group label:first-child {
  font-weight: bold;
  padding-right:5px;
  text-align: right;
  vertical-align: middle;
  width:40%;
}
#chartModal .concept-detail .control-group label:last-child {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  vertical-align: middle;
  white-space: nowrap;
  width:55%;
}

#savedSearches tr:hover {
  background-color: #EBEBEB;
}

/* 
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* 
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

/* 
 *  Core Owl Carousel CSS File
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel .owl-refresh .owl-item {
  display: none;
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d;
}
.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}

/* 
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-item img {
  transform-style: preserve-3d;
  height: 36px;
  width: 36px;
  margin: 0px auto;
  margin-bottom: 10px;
}

/* 
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: scale 100ms ease;
  -moz-transition: scale 100ms ease;
  -ms-transition: scale 100ms ease;
  -o-transition: scale 100ms ease;
  transition: scale 100ms ease;
}
.owl-carousel .owl-video-play-icon:hover {
  -webkit-transition: scale(1.3, 1.3);
  -moz-transition: scale(1.3, 1.3);
  -ms-transition: scale(1.3, 1.3);
  -o-transition: scale(1.3, 1.3);
  transition: scale(1.3, 1.3);
}
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
}
.owl-nav.disabled {
  display:none;
}

.owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent; 
}
.owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline; 
}
.owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px; 
}
.owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #869791; 
}
